{% set dialogsController             = "App\\Action\\Dialog\\DialogAction::" %}
{% set TEMPLATE_TYPE_SEARCH_SETTINGS = constant(dialogsController ~ 'TEMPLATE_TYPE_SEARCH_SETTINGS') %}

<ul id="sidebar-menu">
    <li class="spacer"></li>
    <li class="spacer"></li>
    <li class="nav-item">
        <a class=""
           data-ajax-href="{{ path('job_search') }}"
           @click.prevent="loadPageContent($event)"
        >
            <i class="feather icon-sidebar"></i>
            <span class="menu-title">{{ 'menu.jobSearch.label' | trans }}</span>

            <div class="collapse show" id="navDashboard" style="">
                <ul class="flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link wave-effect waves-effect waves-block"
                           data-ajax-href="{{ path('dialog_template_load_template_type', {
                               "templateType" : TEMPLATE_TYPE_SEARCH_SETTINGS
                           }) }}"
                           data-load-in-bootbox
                           @click.prevent="loadPageContent($event)"
                        >
                            <i class="feather icon-layout"></i>
                            <span class="menu-title">{{ 'menu.jobSearch.loadSetting' | trans }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link wave-effect collapsed"
           data-ajax-href="{{ path('mail_template_manage') }}"
           @click.prevent="loadPageContent($event)"
        >
            <i class="feather icon-mail"></i>
            <span class="menu-title">{{ 'menu.mailTemplates' | trans }}</span>
        </a>
    </li>
</ul>