{% set dialogsController             = "App\\Controller\\DialogsController::" %}
{% set TEMPLATE_TYPE_SEARCH_SETTINGS = constant(dialogsController ~ 'TEMPLATE_TYPE_SEARCH_SETTINGS') %}

<ul id="sidebarCookie">
    <li class="spacer"></li>
    <li class="spacer"></li>
    <li class="nav-item">
        <a class="" href="#"
           {# bootbox dialog data#}
           data-call-bootbox-dialog="true"
           data-bootbox-size="{{ BOOTBOX_SIZE_LARGE }}"
           data-bootbox-type="{{ BOOTBOX_TYPE_ALERT }}"
           data-bootbox-message="Move me to translation file"
           data-bootbox-callback-type="{{ BOOTBOX_CALLBACK_TYPE_LOAD_TEMPLATE }}"
           data-bootbox-callback-type-template-name="{{ TEMPLATE_TYPE_SEARCH_SETTINGS }}"
        >
            <i class="feather icon-sidebar"></i>
            <span class="menu-title">{{ 'menu.searchSettings' | trans }}</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link wave-effect collapsed" data-parent="#sidebarCookie" data-toggle="collapse"
           href="#navMailbox" aria-expanded="false" aria-controls="page-mailbox">
            <i class="feather icon-mail"></i>
            <span class="menu-title">{{ 'menu.mailTemplates' | trans }}</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="http://localhost:4000/credits" class="nav-link wave-effect nav-single">
            <i class="feather icon-zap"></i>
            <span class="menu-title">{{ 'menu.credits' | trans }}</span>
        </a>
    </li>
</ul>
