{% set dialogController = "App\\Controller\\Core\\DialogsController::" %}

{% set KEY_PARAM_JOB_OFFER_DESCRIPTION     = constant(dialogController ~ 'KEY_PARAM_JOB_OFFER_DESCRIPTION') %}
{% set KEY_PARAM_JOB_OFFER_HEADER          = constant(dialogController ~ 'KEY_PARAM_JOB_OFFER_HEADER') %}
{% set KEY_PARAM_JOB_OFFER_LINK            = constant(dialogController ~ 'KEY_PARAM_JOB_OFFER_LINK') %}

{% set KEY_PARAM_JOB_OFFER_REJECTED_KEYWORDS = constant(dialogController ~ 'KEY_PARAM_JOB_OFFER_REJECTED_KEYWORDS') %}
{% set KEY_PARAM_JOB_OFFER_ACCEPTED_KEYWORDS = constant(dialogController ~ 'KEY_PARAM_JOB_OFFER_ACCEPTED_KEYWORDS') %}

<h5 class="text-center">{{ _context[KEY_PARAM_JOB_OFFER_HEADER] | raw}}</h5>
<h4 class="text-center">
    <a href="{{ _context[KEY_PARAM_JOB_OFFER_LINK] |raw}}" style="word-break: break-all;" target="_blank">{{ _context[KEY_PARAM_JOB_OFFER_LINK] |raw}}</a>
</h4>
<div id="jobOfferDetailsWrapper" style="padding:5px;">
    <section class="job-offer-detail-description text-justify">
        <i>
            {{ _context[KEY_PARAM_JOB_OFFER_DESCRIPTION] | raw}}
        </i>
    </section>
    <hr>

    <section class="keywords-section d-flex justify-content-around">

        <section class="job-offer-detail-rejected-keywords">
            <h5>{{ "dialogs.jobSearchDetails.headers.rejectedKeywords" | trans }}</h5>
            <ul>
                {% for keyword in _context[KEY_PARAM_JOB_OFFER_REJECTED_KEYWORDS] %}
                    <li>{{ keyword | raw}}</li>
                {% endfor %}
            </ul>
        </section>

        <section class="job-offer-detail-rejected-keywords">
            <h5>{{ "dialogs.jobSearchDetails.headers.acceptedKeywords" | trans }}</h5>
            <ul>
                {% for keyword in _context[KEY_PARAM_JOB_OFFER_ACCEPTED_KEYWORDS] %}
                    <li>{{ keyword | raw}}</li>
                {% endfor %}
            </ul>
        </section>

    </section>
</div>
