{% set dialogsController          = "App\\Controller\\DialogsController::" %}
{% set constantsControllerClass   = "App\\Controller\\ConstantsController::" %}

{% set TWIG_VAR_SEARCH_SETTINGS   = constant(dialogsController ~ 'TWIG_VAR_SEARCH_SETTINGS') %}
{% set ENTITY_NAME_SEARCH_SETTING = constant(constantsControllerClass ~ 'ENTITY_NAME_SEARCH_SETTING') %}

<div id="searchSettingsDialogWrapper" style="padding:5px;">

    <h4 style="text-align: center;">{{ "dialogs.searchSettings.load.header" | trans }}</h4>
    <h5 style="text-align: center;"> <i> {{ "dialogs.searchSettings.load.subheader" | trans }}</i> </h5>

    <table data-is-datatable="true" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="d-none">{{ "dialogs.searchSettings.table.id" | trans }}</th>
                <th style="max-width: 12px;"></th>
                <th>{{ "dialogs.searchSettings.table.name" | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for searchSetting in _context[TWIG_VAR_SEARCH_SETTINGS] %}
                <tr>
                    <td class="d-none id">{{ searchSetting.getId() }}</td>
                    <td style="max-width: 30px;" class="d-flex justify-content-center">
                        <input type="checkbox" data-entity-id="{{ searchSetting.getId() }}" />
                    </td>
                    <td class="name clickable-cell">{{ searchSetting.getName() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <section id="searchSettingsActions" class="row d-flex justify-content-end" style="padding-right: 15px;">
        <button
                class="btn btn-primary disabled"
                id="searchSettingsRemoveButton"
                data-remove-entity="true"
                data-entity-name="{{ ENTITY_NAME_SEARCH_SETTING }}"
                data-entity-removal-ajax-link="{{ path('search_settings_ajax_remove') }}"
                data-entity-removed-ids-elements-selector="#searchSettingsDialogWrapper table tbody input[data-entity-id]"
                data-parent-element-to-remove-selector="tr"
        >
            {{ "dialogs.searchSettings.buttons.remove" | trans }}
        </button>
    </section>
</div>