{# todo: move this all to includable file? + add includable file for js based vars?#}
{% set constantsControllerClass         = "App\\Controller\\ConstantsController::" %}
{% set bootboxController                = "App\\Controller\\BootboxController::" %}
{% set dialogController                 = "App\\Controller\\DialogsController::" %}
{% set jobOfferScrappingAction          = "App\\Controller\\Gui\\JobOfferScrappingAction::" %}

{% set KEY_JSON_RESPONSE_ERROR          =  constant(constantsControllerClass ~ 'KEY_JSON_RESPONSE_ERROR') %}
{% set KEY_JSON_RESPONSE_MESSAGE        =  constant(constantsControllerClass ~ 'KEY_JSON_RESPONSE_MESSAGE') %}
{% set KEY_JSON_RESPONSE_TEMPLATE       =  constant(constantsControllerClass ~ 'KEY_JSON_RESPONSE_TEMPLATE') %}
{% set KEY_JSON_RESPONSE_SEARCH_SETTING =  constant(constantsControllerClass ~ 'KEY_JSON_RESPONSE_SEARCH_SETTING') %}

{% set ENTITY_NAME_SEARCH_SETTING       =  constant(constantsControllerClass ~ 'ENTITY_NAME_SEARCH_SETTING') %}

{% set KEY_REQUEST_ID   =  constant(constantsControllerClass ~ 'KEY_REQUEST_ID') %}
{% set KEY_REQUEST_NAME =  constant(constantsControllerClass ~ 'KEY_REQUEST_NAME') %}

{% set BOOTBOX_SIZE_LARGE                  = constant(bootboxController ~ 'BOOTBOX_SIZE_LARGE') %}
{% set BOOTBOX_TYPE_CONFIRM                = constant(bootboxController ~ 'BOOTBOX_TYPE_CONFIRM') %}
{% set BOOTBOX_TYPE_ALERT                  = constant(bootboxController ~ 'BOOTBOX_TYPE_ALERT') %}
{% set BOOTBOX_CALLBACK_TYPE_LOAD_TEMPLATE = constant(bootboxController ~ 'BOOTBOX_CALLBACK_TYPE_LOAD_TEMPLATE') %}

{% set TEMPLATE_TYPE_SEARCH_SETTINGS       = constant(dialogController ~ 'TEMPLATE_TYPE_SEARCH_SETTINGS') %}
{% set TEMPLATE_TYPE_SEARCH_RESULT_DETAILS = constant(dialogController ~ 'TEMPLATE_TYPE_SEARCH_RESULT_DETAILS') %}
{% set TEMPLATE_JOB_SEARCH_RESULTS         = constant(jobOfferScrappingAction~ 'TEMPLATE_JOB_SEARCH_RESULTS') %}
<!DOCTYPE html>
<!--[if lt IE 7 ]>              <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>                 <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>                 <html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en">                <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {{ "page.title" | trans }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootadmin core css #}
    <link rel="stylesheet" href="/bootadmin/style/vendor/library.min.css">
    <link rel="stylesheet" href="/bootadmin/style/vendor/jqueryui-flat/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/libs/fontawesome/all.css">
    <link rel="stylesheet" href="/bootadmin/style/core/style.min.css">

    <link rel="shortcut icon" href="/bootadmin/images/favicon/favicon.ico">

    {# Js Libs #}
    <script src="js/libs/jQuery/jquery-3.4.1.min.js"></script>
    <script src="js/libs/bootbox/bootbox.min.js"></script>
    <script src="js/libs/DataTables/datatables.min.js"></script>

    {# Css libs #}
    <link rel="stylesheet" href="js/libs/DataTables/datatables.min.css">

    {# Main css #}
    <link rel="stylesheet" href="css/main.css">

</head>

<body id="landing" class="sidebar-open">
<div class="loading">
    <div class="loading-center"><img src="images/spinner.gif" alt="Loading" /></div>
</div>
<div class="page-container animsition">
    <div id="dashboardPage">

        <!-- Main Menu -->
        {% include 'components/topbar.twig' %}
        {% include 'components/sidebar.twig' %}
        <main>
            <div class="container-fluid main-container-wrapper">
                {% include 'modules/job-search/job-search.twig' %}
            </div>
            {% include 'components/fotter.twig' %}
        </main>
    </div>

</div>

<!-- Bootadmin core js -->
<script src="/js/libs/jQueryUi/jquery-ui.min.js"></script>
<script src="/js/libs/popper/popper.min.js"></script>
<script src="/bootadmin/scripts/vendor/bootstrap.min.js"></script>
<script src="/bootadmin/scripts/vendor/library.min.js"></script>
<script src="/bootadmin/scripts/core/main.js"></script>

{# Libs #}
<script src="/js/libs/bootstrapNotify/bootstrap-notify.min.js"></script>

{# Core #}
<script>
    var KEY_JSON_RESPONSE_ERROR          = '{{ KEY_JSON_RESPONSE_ERROR }}';
    var KEY_JSON_RESPONSE_MESSAGE        = '{{ KEY_JSON_RESPONSE_MESSAGE }}';
    var KEY_JSON_RESPONSE_TEMPLATE       = '{{ KEY_JSON_RESPONSE_TEMPLATE }}';
    var KEY_JSON_RESPONSE_SEARCH_SETTING = '{{ KEY_JSON_RESPONSE_SEARCH_SETTING }}';

    var BOOTBOX_SIZE_LARGE                  = '{{ BOOTBOX_SIZE_LARGE }}';
    var BOOTBOX_TYPE_CONFIRM                = '{{ BOOTBOX_TYPE_CONFIRM }}';
    var BOOTBOX_TYPE_ALERT                  = '{{ BOOTBOX_TYPE_ALERT}}';
    var BOOTBOX_CALLBACK_TYPE_LOAD_TEMPLATE = '{{ BOOTBOX_CALLBACK_TYPE_LOAD_TEMPLATE }}';

    var ENTITY_NAME_SEARCH_SETTING = '{{ ENTITY_NAME_SEARCH_SETTING }}';

    var TEMPLATE_TYPE_SEARCH_SETTINGS       = '{{ TEMPLATE_TYPE_SEARCH_SETTINGS }}';
    var TEMPLATE_TYPE_SEARCH_RESULT_DETAILS = '{{ TEMPLATE_TYPE_SEARCH_RESULT_DETAILS }}';
    var TEMPLATE_JOB_SEARCH_RESULTS         = '{{ TEMPLATE_JOB_SEARCH_RESULTS }}';

    var KEY_REQUEST_ID   = '{{ KEY_REQUEST_ID }}';
    var KEY_REQUEST_NAME = '{{ KEY_REQUEST_NAME }}';
</script>

{# Core personall libs#}
<script src="/js/core/loaders/index.js"></script>
<script src="/js/core/infoBox/index.js"></script>
<script src="/js/core/tables/index.js"></script>

<script src="/js/core/dialogs/index.js"></script>
<script src="/js/core/events/index.js"></script>

</body>
</html>
